/*
Custom CSS
*/

@font-face 
{
font-family:'Moderat-Light';
font-style: normal;
font-weight: 100;
src: url('fonts/Moderat_Type_Specimen/Moderat-Light.ttf'); 
}

@font-face 
{
font-family:'Moderat_Bold';
font-style: normal;
font-weight: 100;
src: url('fonts/Moderat_Type_Specimen/Moderat-Bold.ttf'); 
}

@font-face 
{
font-family:'Moderat-Medium';
font-style: normal;
font-weight: 100;
src: url('fonts/Moderat_Type_Specimen/Moderat-Medium.ttf'); 
}


@font-face 
{
font-family:'Moderat-Regular';
font-style: normal;
font-weight: 100;
src: url('fonts/Moderat_Type_Specimen/Moderat-Regular.ttf'); 
}

@font-face 
{
font-family:'Moderat-Thin.ttf';
font-style: normal;
font-weight: 100;
src: url('/css/fonts/Moderat-Thin.ttf.ttf'); 
}

body{
  background-color:white;
  /* Stops the body from going under the navbar */
/*  padding-top: 65px;*/
}
/*
nav{
  background-color: yellow;
}
*/

/* 
# Responsive breakpoints
# https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints
Extra small   <576px  	.col-
Small         ≥576px    .col-sm-
Medium        ≥768px    .col-md-
Large         ≥992px    .col-lg-
Extra large   ≥1200px   .col-xl-
*/

/* Apply these rules if the screen width is LESS than 576px */



@media screen and (max-width: 1800px){

.navbar-nav{
    font-family:'Moderat-Regular';
    font-size:16px;
	line-height: 21px;
	color:black;
	padding-left:35px; 
	}
		
.posters{
		padding-left:30px;
	    padding-right: 20px;
	    padding-top:10px;
	    
	}
	
.spacenav{
		display:none;
	}
	
.video{
		max-width: 100%;
        height: auto;}
	
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.medium-text{
	display:none;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

body {
    font-family:'Moderat-Regular';
    font-style:Bold;
    font-weight: 200;
    font-size: 20px;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;}
	
.spaceposter{
		height:10px;
	}	

.project-nav:active {
/*    border-bottom: 3px solid transparent;*/
    color: white;
    mix-blend-mode: difference;
	bottom:3px;}
	
.project-nav:hover {
/*    border-bottom: 0.5px solid white;*/
	color: white;
/*    mix-blend-mode: difference;*/
}

.navbar{
    font-family:'Moderat-Regular';
    font-size:16px;
	line-height: 21px;
	color:black;
	margin-left:-10px;
	}

.project-nav {
	position:fixed;
    z-index: 100;
    color:white;
    mix-blend-mode: difference;
    top: 15px;
    cursor: pointer;}
	
.li {
	float:left;
	}
	
.white {
    background-color: white;
	margin-top:-16px;}
	
.space10 {
    height: 8px;
}
	
.spaceten {
    height: 8px;
	}

.space12 {
    height:110px;
}

.space11 {
    height: 40px;
}

.description {
	padding-left:666px;
	padding-bottom:120px;
	padding-top:140px;
}

img {
    vertical-align: middle;
    border-style: none;}

element.style {
    max-height: 0px;
}

.v1vids{
	background-color: black;
}

.padding-100 {
    padding-top: 20px;
	padding-bottom: 80px;
} 

.mephoto{
	padding-top: 65px;
	padding-left:130px;
	}

.greyme{
	color:darkgray;
}

.col-6 {
    padding-top: 60px;
	margin-left:60px;
	
}

position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

.archives{
    font-family:"Moderat-Bold";
    font-size:16px;
    padding-left: 18px;
	color: white;}

.space21{
	margin-top: -2px;
}

br {
    display: block;
    margin-bottom: 1px;
    line-height: 1px;}
	
.skinblack{
		background-color:black;
	}

.move{
    margin-top: -45px;
    
}

.motyfmobile{
	padding-left: 75px;
}
	
.archive-dates{

  padding-bottom:30px;
  margin-top:40px;
  padding-left:220px;
  font-family:'Moderat-Regular';
  font-size:180px;
  color:black;
  line-height:200px;
}	
	
.bird img {
    display: block;
    width: 50%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.bird:hover img{
    
    display:block;
    width: 51.1%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:515px;
    margin-top:-70px;
    cursor:pointer;
    }

.girl img {
    display: block;
    width: 50%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.girl:hover img{
    
    display:block;
    width: 51.1%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:515px;
    margin-top: -240px;
    cursor:pointer;
    }

.boat img {
    display: block;
    width: 50%;
    height: auto;
    position:fixed;
    z-index: 1;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.boat:hover img{
    
    display:block;
    width: 51.1%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:515px;
    margin-top: -420px;
    cursor:pointer;
    }

.mayabay img {
    display: block;
    width: 50%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.mayabay:hover img{
    
    display:block;
    width: 51.1%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:515px;
    margin-top: -420px;
    cursor:pointer;
    }

.mayabay1 img {
    display: block;
    width: 50%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.mayabay1:hover img{
    
    display:block;
    width: 51.1%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:515px;
    margin-top: -320px;
    cursor:pointer;
    }

.umbrella img {
    display: block;
    width: 50%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.umbrella:hover img{
    
    display:block;
    width: 51.1%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:-631px;
    margin-top:20px;
    cursor:pointer;
    }

.wheel img {
    display: block;
    width: 50%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.wheel:hover img{
    
    display:block;
    width: 51.1%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:-631px;
    margin-top:-160px;
    cursor:pointer;
    }

.mountain img {
    display: block;
    width: 50%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.mountain:hover img{
    
    display:block;
    width: 51.1%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:-631px;
    margin-top:-180px;
    cursor:pointer;
    }

.karenann img {
    display: block;
    width: 50%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.karenann:hover img{
    
    display:block;
    width: 51.1%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:-631px;
    margin-top:-200px;
    cursor:pointer;
    }

.karenann1 img {
    display: block;
    width: 50%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.karenann1:hover img{
    
    display:block;
    width: 51.1%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:-631px;
    margin-top:-200px;
    cursor:pointer;
    }

.subway img {
    display: block;
    width: 50%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.subway:hover img{
    
    display:block;
    width: 51.1%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:515px;
    margin-top:-340px;
    cursor:pointer;
    }

.derek img {
    display: block;
    width: 50%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.derek:hover img{
    
    display:block;
    width: 51.1%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:-631px;
    margin-top:-180px;
    cursor:pointer;
    }

.centralpark img {
    display: block;
    width:50%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.centralpark:hover img{
    
    display:block;
    width: 51.1%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:515px;
    margin-top:-437px;
    cursor:pointer;}

.exit img {
    display: block;
    width: 50%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.exit:hover img{
    
    display:block;
    width: 51.1%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:-631px;
    margin-top:-340px;
    cursor:pointer;}

.exit2 img {
    display: block;
    width: 50%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.exit2:hover img{
    
    display:block;
    width: 51.1%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:-631px;
    margin-top:-637px;
    cursor:pointer;}

.motyfmove{
	display:none;
}

.gallery1{
    margin-top:-16px;
    padding-left: 15px;
    padding-right: 15px;}

.column {
  float:left;
  width: 33.33%;}
	

.column1 {
  float:left;
  width:35%;
  }

.bythree{
	margin-top:20px;
	margin-bottom:20px;
	margin-left:20px;
    margin-right:20px;
	}
	
	
.media{
    font-family:'Moderat-Regular';
    font-size:18px;
	line-height: 23px;
	color:darkgrey;
	padding-left: 10px;
	}

.media1{
    font-family:'Moderat-Regular';
    font-size:18px;
	line-height: 23px; 
	color:darkgrey;
	padding-left:100px;
    color: rgba(0,0,0,0.3) !important;
	color:darkgrey;
    text-align: right !important;
    cursor: pointer;
	z-index:100;
	}

.media2{
    font-family:'Moderat-Regular';
    font-size:18px;
	line-height: 23px;
	color:darkgrey;
	padding-left:1025px;
	padding-top:20px}

.archivemedia{
    font-family:'Moderat-Regular';
    font-size:18px;
	line-height: 23px;
	color:darkgrey;
	padding-left:1025px;}

.whitebody{
		background-color: white;
	}
	
a 
{
    color: black;
    
}

.short-text { display: none; }

.twophotos { display: none;}

.content {
  position: relative;
  width:50%;
  margin: auto;
  overflow:hidden;
  padding-top: 0px;
  margin-bottom: 0px;}

.content .content-overlay {
  background:#d8d8d8;
/*	background-image:url(banishedthumbnail.jpg)*/
/*	background: rgba(0,0,0,0.7);*/
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;}

.content:hover .content-overlay{
  opacity: 10;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
	
}

.content:hover .content-details{
  top: 60%;
  left: 50%;
  opacity: 1;

}

.content-details h3{
  font-family:"Moderat-Medium";
  font-size:34px;
  line-height: 100px;
  color:white;
  font-weight: 500;
  letter-spacing: 0.10em;
  margin-bottom: 2.6em;
  text-transform: uppercase;}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}

.previous {
	font-family: "Moderat-Regular";
	font-size: 18px;
	color: rgba(0,0,0,0.3) !important;
    color:black;
	text-align: right !important;
    cursor: pointer;
	padding-left:425px;
	
	
	}
	
.next {
	font-family: "Moderat-Regular";
	font-size: 18px;
	color: rgba(0,0,0,0.3) !important;
    color:black;
	text-align: right !important;
    cursor: pointer;
	padding-left:425px;
	}	

.move{
	padding-left: 90px;
	padding-top: 44px;
}

.row::after {
  content: "";
  clear: both;
  display:table;
}

hr 
 {
  border: .5px solid black;
}

.footerspace2 {
    height: 20px;
} 

.sh{
	background-color: black;
	width: 1480px;
}

.col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;}
	
.archives{
	color: white;
	font-family: 'Moderat-Regular'}	

.backup1{
	color: rgba(0,0,0,0.3) !important;
	color:darkgrey;
    text-align: right !important;
    cursor: pointer;
	z-index:100;
    }

.type--link-indent {archive
  position: relative;
  display: inline-block;
  cursor: pointer;
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-property: transform;
  -webkit-transition-duration: 0.18s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-property: transform;
  -moz-transition-duration: 0.18s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0s;
  -o-transition-property: transform;
  -o-transition-duration: 0.18s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0s;
  -ms-transition-property: transform;
  -ms-transition-duration: 0.18s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0s;
  transition-property: transform;
  transition-duration: 0.18s;
  transition-timing-function: ease;
  transition-delay: 0s; }
	
.bf{
		display:none;
	}
 
.type--link-indent:hover, .type--link-indent.is-active, .type--link-indent.is-current {
    -moz-transform: translateX(0.25em);
    -o-transform: translateX(0.25em);
    -ms-transform: translateX(0.25em);
    -webkit-transform: translateX(0.25em);
    transform: translateX(0.25em); 
color: black;}
	
	
}

@media screen and (max-width: 1440px){

}

@media screen and (max-width: 1200px){
	
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}	
	
.content {
  position: relative;
  width:50%;
  height:auto;
  margin:auto;
  overflow:hidden;
  padding-top: 0px;
  }
		
.content-details h3{
  font-family:"Moderat-Medium";
  font-size:24px;
  line-height: 100px;
  color:white;
  font-weight: 500;
  letter-spacing: 0.10em;
  margin-bottom: 4em;
  text-transform: uppercase;}
	
.content:hover .content-overlay{
  opacity: 10;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
	
}

.content:hover .content-details{
  top: 60%;
  left: 50%;
  opacity: 1;

}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}
	
.archive-dates{
		display:none;
	}

.homenav12{
		display:none;
	}
	
/*
.homevideo{
	padding-top:70px;
	}
*/
	
.media2{
		display:none;
	}
	
.bf{ 
	display: inline-block; 
	}
		  	
.short-text{
		display:none;
	}
	
body {
    font-family:'Moderat-Regular';
    font-style:Bold;
    font-weight: 200;
    font-size: 16px;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;}
	
.project-nav:active {
/*    border-bottom: 3px solid transparent;*/
    color: white;
    mix-blend-mode: difference;
	bottom:3px;}
	
.project-nav:hover {
/*    border-bottom: 0.5px solid white;*/
	color: white;
/*    mix-blend-mode: difference;*/
}

.navbar{
    font-family:'Moderat-Regular';
    font-size:16px;
	line-height: 21px;
	color:black;}
	
.navbar-nav{
    font-family:'Moderat-Regular';
    font-size:16px;
	line-height: 21px;
	color:black;
	padding-left:20px; 
	}
	
.project-nav {
	position: fixed;
    z-index: 80;
    color: white;
    mix-blend-mode: difference;
    top: 15px;
    cursor: pointer;}

.push{
	padding-left:20px;
	}
		
.pushphoto{
	padding-left:135px;
	}	
	
.pusharchive{
	padding-left:210px;
	}
			
.whitebody{
		background-color: white;
	}
	
.description {
	padding-left:460px;
	padding-bottom:115px;
	padding-top:125px;
}
	
.media{
    font-family:'Moderat-Regular';
    font-size:16px;
	line-height:2px;
	color:darkgrey;
	padding-left: 20px;
	padding-top:18px;
	}
	
.media1{
    font-family:'Moderat-Regular';
    font-size:16px;
	padding-left:100px;
    color: rgba(0,0,0,0.3) !important;
	color:black;
    text-align: right !important;
    cursor: pointer;
	z-index:100;
	}

.mediaindex{
		display:none;
	}
	
.space21{
		margin-top:-4px;
	}

.links{
		padding-top:9px;
	}
		
.move{
    margin-top:-105px;
	padding-left: 150px;
    } 
	
.previous {
	font-family: "Moderat-Regular";
	font-size: 16px;
	color: rgba(0,0,0,0.3) !important;
    color:black;
	text-align: right !important;
    cursor: pointer;
	padding-left:525px;
	
	
	
	
	}
	
.next {
	font-family: "Moderat-Regular";
	font-size: 16px;
	color: rgba(0,0,0,0.3) !important;
    color:black;
	text-align: right !important;
    cursor: pointer;
	padding-left:525px;
	
	}
	
.footerspace{
		display:none;
	}

.archivemedia{
    font-family:'Moderat-Regular';
    font-size:16px;
	line-height: 23px;
	color:darkgrey;
	padding-left:925px;
	padding-top:10px;}
		
}

@media screen and (max-width: 992px){
	
.archive-dates{
		display:none;
	}
}

@media screen and (max-width: 576px) {
      
.navbar{
    font-family:'Moderat-Regular';
    font-size:16px;
	line-height: 21px;
	color:black;
	margin-left:-10px}
	
.navbar-nav{
    font-family:'Moderat-Regular';
    font-size:16px;
	line-height: 21px;
	color:black;
	padding-left:100px; 
	}
	
.li {
	float:left;
	}

.about{
	margin-left:75px;	
	}
	
.gallery{
	margin-left:150px;	
	}
		
.archive{
	margin-left:225px;	
	}
		
.media{
    font-family:'Moderat-Regular';
    font-size:18px;
	line-height:0.3px;
	color:black;
	padding-left: 20px;
	padding-top:20px;
	}
	
.media1 {
	display: none;
	}
		
.media2{
		display:none;
	}

.archivemedia{
    font-family:'Moderat-Regular';
    font-size:18px;
	line-height: 21px;
	color:black;
	padding-left:410px;
	margin-top:-15px;
	}
		
.footerspace2{
			display:none;
		}		
	
.project-nav:active {
/*    border-bottom: 3px solid transparent;*/
    color: white;
    mix-blend-mode: difference;
	bottom:3px;}
	
.project-nav:hover {
/*    border-bottom: 0.5px solid white;*/
	color: white;
/*    mix-blend-mode: difference;*/
}
		
.project-nav {
	
    position: fixed;
    z-index: 100;
    color: white;
    mix-blend-mode: difference;
    top: 15px;
    cursor: pointer;
}	
	
.other{
	display: none; 	
	}

.whitebar{
		height:70px;
		background-color:white;
	}
	
.whitebar1{
		height:60px;
		background-color:white;
	}
	
.gallery1{
    
    padding-left: 15px;
    padding-right: 15px;
	padding-top: 15px;}
		
.spacenav{
	height:70px;
	background-color: white;}		
	
.spacenavhome{
	height:40px;
	background-color:white;}
			
.medium-text { 
	display:none; 
	}
	
.short-text { 
	display: inline-block; 
	}
	
.full-text{
		display:none;
	}
	
.twophotos { 
	display: inline-block;
	width:652px;
	}
  
.homevideo{
		display:none;
	}		
				
.white {
    background-color: white;
	margin-top: -35px;
	
}
	
.content {
  position: relative;
  width: 100%;
  height:auto;
  margin:auto;
  overflow:hidden;
  padding-top: 0px;
  margin-bottom: 0px;}
			 
.archive-dates{

   display: none;
}

.mephoto{
display:none;
	}	
		
.padding-100 {
    padding-top: 25px;
	margin-bottom: -240px;
}
				
.description {
	padding-left:45px;
	padding-bottom:65px;
	padding-top:110px;
}	

.move{
		display:none;
	}
		
.whitebody{
			background-color: white;
		}				
				
.space10 {
 height: 6px;
	}
		
.spaceten {
 margin-top:-200px;
	}
				
.space11 {
 height: 20px;
	}	
			
.mobiledetails{
display:none;
		}		
		
.previous {
	font-family: "Moderat-Regular";
	font-size: 18px;
	color: rgba(0,0,0,0.3) !important;
    color:darkgrey;
    cursor: pointer;
	padding-left:320px;
	padding-top: 10px;
	padding-bottom: 60px;}
	
.next {
  
    font-family: "Moderat-Regular";
	font-size: 18px;
	color: rgba(0,0,0,0.3) !important;
	color:darkgrey;
    text-align: right !important;
    cursor: pointer;
	padding-left:320px;
	padding-top: 4px;
	padding-bottom: 72px;
}
				
.motyfmobile{
	padding-left: 35px;
}		
							 
.mediaindex{
padding-right: 50px;
		}
		
.homevid{
		padding-top:500px;
	}

.v1vid2{
	padding-top:970px;
	margin-bottom: -200px}
	
.fourscreens{
	display: none;
	}
		
.sh{
    width: 500px;
	background-color: black;
}	
		
.space20{
	padding-top: 30px;
	}	
	
.archivemedia{
		display: none;
		letter-spacing: 0.2em
	}
	

	
}		