/*
Custom CSS
*/

@font-face 
{
font-family:'Moderat-Light';
font-style: normal;
font-weight: 100;
src: url('fonts/Moderat_Type_Specimen/Moderat-Light.ttf'); 
}

@font-face 
{
font-family:'Moderat_Bold';
font-style: normal;
font-weight: 100;
src: url('fonts/Moderat_Type_Specimen/Moderat-Bold.ttf'); 
}

@font-face 
{
font-family:'Moderat-Medium';
font-style: normal;
font-weight: 100;
src: url('fonts/Moderat_Type_Specimen/Moderat-Medium.ttf'); 
}


@font-face 
{
font-family:'Moderat-Regular';
font-style: normal;
font-weight: 100;
src: url('fonts/Moderat_Type_Specimen/Moderat-Regular.ttf'); 
}

@font-face 
{
font-family:'Moderat-Thin.ttf';
font-style: normal;
font-weight: 100;
src: url('/css/fonts/Moderat-Thin.ttf.ttf'); 
}

body{
  background-color:#f1f2f2;
  /* Stops the body from going under the navbar */
/*  padding-top: 65px;*/
}
/*
nav{
  background-color: yellow;
}
*/

/* 
# Responsive breakpoints
# https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints
Extra small   <576px  	.col-
Small         ≥576px    .col-sm-
Medium        ≥768px    .col-md-
Large         ≥992px    .col-lg-
Extra large   ≥1200px   .col-xl-
*/

/* Apply these rules if the screen width is LESS than 576px */



.buztype {font-family:'Moderat-thin';
        font-size:32px; 
        color:black;
        letter-spacing: 8px;
        padding-right: 30px;
        margin-top: 70px;
        }


.sticky{
    position:fixed;
    z-index: 100;}


.projects{
    
   
    padding-top: 40px;
}

.archives{
    
    font-family:"Moderat-Bold";
    font-size:16px;
    padding-left: 18px;
    
}

.flynn{
    font-family:"Moderat-Bold";
    font-size:16px;
    padding-left: 18px;
    }


.navtype{
    font-family:'Moderat-Thin';
    font-size: 32px;
    color:black;
    line-height: 30px;
    z-index:20px;
    }

.navtype2{
    font-family:'Moderat-Light';
    font-size:16px;
    color:black;
    line-height:2px;
    z-index:20px;
    word-spacing:5px;
    word-spacing:5px;
    padding-left: 148px;
    
    }

br {
    display: block;
    margin-bottom: 1px;
    font-size:px;
    line-height: 1px;
}

.pinned{
    
    padding-top:24px;
    position:fixed;
    z-index:100;
    padding-left: 850px;
	
}
 
.behance{
    
    padding-top: 48px;
}


.linkedin {
    
    padding-top: 28px;
}

.instagram {
    
    padding-top: 68px;
    }
.pinned1{
    
    
    position:fixed;
    z-index:100;
    margin-left:1165px;
    
  
}

.scrapbody {
	line-height: 40px;
}

.body3{
	padding-top:100px;
}


h1{
    font-family:'Moderat-Medium';
    font-size:32px;
    color:black;
    margin-left: 100px;
}



.skin{
    margin-top: -45px;
    
}

.move{
    margin-top: -45px;
    
}
.motyf{
    margin-top:200px;
    margin-bottom:260px;
    
}


MOTYFS{
    margin-left: 200px;
}
h3{
    font-family:'Moderat-Medium';
    font-size:32px;
    color:black;
    padding-top: -100px;
 
    }

h4{
    font-family:'Moderat-Thin';
    font-size:24px;
    color:black;
    line-height:30px;
   
    }
h5{
    font-family:'Moderat-Thin';
    font-size:24px;
    color:black;
    line-height:30px;
    
    padding-top: 30px;
    }

.skinhunger{
    margin-top:220px;
    margin-bottom:280px;}
    
.skinhungervid{
    padding-left: 10px;}


h6{
    font-family:'Moderat-Medium';
    font-size:32px;
    color:black;
    padding-top: 30px;
   
 
    }

h7{
    font-family:'Moderat-Thin';
    font-size:24px;
    color:black;
    line-height:30px;
    
    }
h8{
    font-family:'Moderat-Thin';
    font-size:24px;
    color:black;
    line-height:30px;

    padding-top: 30px;
    }

.motyfimg1{
    padding-top: 1000px;
}

.motyfimg2{
    padding-top:5px;
}

.motyfimg3{
    padding-top:2px;
    padding-left:-100px;
}

.motyfimg4{
    padding-top:20px;
    padding-left:-100px;
}

.motyfimg5{
    padding-top:20px;
    padding-left:-100px;
}


.motyfimg6{
    padding-top:20px;
    padding-left:-100px;
}

.motyfimg7{
    padding-top:40px;
    padding-left:-100px;
}

.motyfimg8{
    padding-top:20px;
    padding-left:-100px;
}

.motyfimg9{
    padding-top:10px;
    padding-left:-100px;
    margin-bottom: 80px;
}

.skinpics{
    padding-top:10px;
    
}

/*
.well{
    
    padding-top:200px;
}
*/


.homevid{
    padding-top:30px;
}

.archive-dates{

    padding-bottom:100px;
   
    
  padding-left:40px;
    font-family:'Moderat-Bold';
    font-size:112px;
    color: black;
    line-height:150px;
}

.pictures img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}
   
.pictures:hover img{
    
    display:block;
    width: 25%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left 80px;
    margin-top: -30px;
    cursor:pointer;
    
}

.balloons img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.balloons:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:350px;
    margin-top:180px;
    cursor:pointer;
    
}
   

.orangeroom img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.orangeroom:hover img{
    
    display:block;
    color: black;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:200px;
    margin-top:80px;
    cursor:pointer;
    }

.gallerypage{
    
    color: black;
    z-index:20px;
    
}



.bird img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.bird:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:px;
    margin-top: 5px;
    cursor:pointer;
    }


.girl img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.girl:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:-315px;
    margin-top: -150px;
    cursor:pointer;
    }


.boat img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.boat:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:-140px;
    margin-top: -100px;
    cursor:pointer;
    }



.mayabay img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.mayabay:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:-100px;
    margin-top: -160px;
    cursor:pointer;
    }


.tree img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.tree:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:-225px;
    margin-top: -160px;
    cursor:pointer;
    }

.umbrella img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.umbrella:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:440px;
    margin-top:-160px;
    cursor:pointer;
    }


.wheel img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.wheel:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:240px;
    margin-top:-200px;
    cursor:pointer;
    }


.mountain img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.mountain:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:420px;
    margin-top:-260px;
    cursor:pointer;
    }


.karenann img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.karenann:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:-220px;
    margin-top:-200px;
    cursor:pointer;
    }

.subway img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.subway:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:400px;
    margin-top:-240px;
    cursor:pointer;
    }

.newyork img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.newyork:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:220px;
    margin-top:-260px;
    cursor:pointer;
    }

.derek img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.derek:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:-300px;
    margin-top:-200px;
    cursor:pointer;
    }


.light img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.light:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:200px;
    margin-top:-200px;
    cursor:pointer;
    }


.sea img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.sea:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:300px;
    margin-top:-300px;
    cursor:pointer;
    }

.spain img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.spain:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    
    margin-top:-300px;
    cursor:pointer;
    
    }

.shells img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.shells:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:-150px;
    margin-top:-260px;
    cursor:pointer;}

.gasmask img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.gasmask:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:300px;
    margin-top:-260px;
    cursor:pointer;}

.horseshoe img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.horseshoe:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:420px;
    margin-top:-260px;
    cursor:pointer;}


.derek2 img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.derek2:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:240px;
    margin-top:-260px;
    cursor:pointer;}

.net img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
    
    
    
}

.net:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:-340px;
    margin-top:-260px;
    cursor:pointer;}


.cloud img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.cloud:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:-150px;
    margin-top:-200px;
    cursor:pointer;}

.sheil img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.sheil:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:420px;
    margin-top:-270px;
    cursor:pointer;}

.marble img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.marble:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:230px;
    margin-top:-270px;
    cursor:pointer;}

.metropolis img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.metropolis:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:440px;
    margin-top:-320px;
    cursor:pointer;}

.portmarnock img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.portmarnock:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:-320px;
    margin-top:-260px;
    cursor:pointer;}


.centralpark img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.centralpark:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:350px;
    margin-top:-240px;
    cursor:pointer;}

.paper img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.paper:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:-340px;
    margin-top:-260px;
    cursor:pointer;}

.exit img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.exit:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:430px;
    margin-top:-370px;
    cursor:pointer;}

.bio img {
    display: block;
    width: 45%;
    height: auto;
    position:fixed;
    z-index: 1;
    opacity: 0;
    cursor:pointer;
}

.bio:hover img{
    
    display:block;
    width: 30%;
    height:auto;
    position:absolute;
    z-index:-10;
    opacity:1;
    pointer-events:inherit;
    align-content:center;
    margin-left:430px;
    margin-top:-370px;
    cursor:pointer;}


.about{
    padding-top:200px;
    padding-bottom:150px;
    margin-top:-200px;
}


.motyftitle {
    
    font-family:'Moderat-Medium';
    font-size: 16px;
    padding-top:14px;
    color: black;}



.motyftitle2 {
    
    font-family:'Moderat-Medium';
    font-size: 16px;
    padding-top:19px;
    color: black;
    padding-left: 80px;
   }

.motyfdesc {
    
   font-family:'Moderat-Medium';
    font-size: 32px;
    line-height: 36px;
    padding-top: 16px;
     color: black;}

.skindesc {
    
    font-family:'Moderat-Medium';
    font-size: 32px;
    line-height: 36px;
    padding-top: 16px;
    color: black;
    padding-bottom:180px;}

.biog {
    
    font-family:'Moderat-Medium';
    font-size: 32px;
    line-height: 36px;
    padding-top: 16px;
    color: black;
   }




.motyfdesc2 {
    
   font-family:'Moderat-Medium';
    font-size: 32px;
    line-height: 36px;
    padding-top: 10px;
    margin-bottom: 80px}


/*
p2 {
    
    font-family:'Moderat-Medium';
    font-size: 32px;
    line-height: 34px;
    padding-top: 40px;
   
}


p11{
    
    font-family:'Moderat-Medium';
    font-size:34px;
 
}
*/

p3{
    
    font-family: 'Moderat-Bold';
    font-size: 16px;
    
}




p4{
    
    font-family:'Moderat-Thin';
    font-size:16px;
}

.education{
    padding-top: 30px;
}




.motyfpageimg1{
    
    
}


/*This is the gallery section:..............*/


.gallery{
    padding-top:2px;
    padding-left: 25px;
    padding-right: 25px;
    
}

.gallery1{
   
    padding-left: 25px;
    padding-right: 25px;
	

    
}

.gallerypage{
    
    color: black;
}

/*
.description {
    padding-top:-200px;
}
*/

.column {
  float: left;
  width: 33.33%;
  padding:px;
}

.column2 {
  float: left;
  padding-bottom: 100px;
}


.footer {
    
    padding-top: 30px;
    padding-bottom: 30px;
}


p8{
    
    font-family:'Moderat-Medium';
    font-size:16px;
}




/*
.motyfinfo{
   padding-top: 140px; 
    padding-bottom: 140px;
}
*/


/*Project boxes .........................................................*/



.content {
  position: relative;
  width: 400%;
  max-width: 685px;
  margin: auto;
  overflow:hidden;
  margin-left: 18px;
  padding-top: 2px;
    margin-bottom: 0px;
   }

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 400%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  margin-top: 2px;
  
}

.content:hover .content-overlay{
  opacity: 10;
}

/*
.content-image{
width: 100%;

}
*/


.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 60%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  font-family:"Moderat-Bold";
  font-size:120px;
line-height: 100px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
 font-family:"Moderat-Light";
 font-size:24px;
 color: #fff;
 font-size: 0.8em;
}


.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}


.content2 {
  position: relative;
  width: 300%;
  max-width: 650px;
  margin: auto;
  overflow:hidden;
  margin-left: 18px;
  padding-top: 10px;
  padding-bottom: 80px;
   }

.content2 .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 400%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  margin-top: 80px;
  
}


.copywright{
    padding-left:560px;
    color:lightgrey;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.arrow {
    padding-left: 60px;
    }

hr {
 
    border-top: 1.5px solid black;
    margin-top: 10px;
    margin-left: 18px;
    margin-right: 18px;
}

.archivetitle{
    
font-family: "Moderat-Bold";
font-size: 16px;
padding-top: 20px;
}

    

.type--link-indent {archie
  position: relative;
  display: inline-block;
  cursor: pointer;
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition-property: transform;
  -webkit-transition-duration: 0.18s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-property: transform;
  -moz-transition-duration: 0.18s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0s;
  -o-transition-property: transform;
  -o-transition-duration: 0.18s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0s;
  -ms-transition-property: transform;
  -ms-transition-duration: 0.18s;
  -ms-transition-timing-function: ease;
  -ms-transition-delay: 0s;
  transition-property: transform;
  transition-duration: 0.18s;
  transition-timing-function: ease;
  transition-delay: 0s; }
  
.type--link-indent:hover, .type--link-indent.is-active, .type--link-indent.is-current {
    -moz-transform: translateX(0.25em);
    -o-transform: translateX(0.25em);
    -ms-transform: translateX(0.25em);
    -webkit-transform: translateX(0.25em);
    transform: translateX(0.25em); 
color: black;}

    @media screen and (min-width: 960px) and (max-width: 1800px) {
      .type--link-indent:hover, .type--link-indent.is-active, .type--link-indent.is-current {
        -moz-transform: translateX(0.15em);
        -o-transform: translateX(0.15em);
        -ms-transform: translateX(0.15em);
        -webkit-transform: translateX(0.15em);
        transform: translateX(0.15em); } 




}


  

    
